@import 'tailwindcss';
@import 'datatables.net-dt/css/dataTables.dataTables.min.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@deltablot/dropzone/dist/dropzone.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/views/**/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-coral: rgb(255, 122, 89);
    --color-coral-dark: #ff6b52;
    --color-coral-light: #ffe0d6;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: linear-gradient(to bottom, #ffffff, var(--color-coral));
    min-height: 100vh;
}

.btn {
    @apply px-6 py-2 rounded cursor-pointer inline-block;
}

.btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600;
}

.btn-info {
    @apply bg-cyan-500 text-white hover:bg-cyan-600;
}

.btn-warning {
    @apply bg-orange-400 text-white hover:bg-orange-500;
}

.btn-coral {
    @apply bg-coral text-white hover:bg-coral-dark;
}

.btn-success {
    @apply bg-green-600 text-white hover:bg-green-700;
}

.btn-gray {
    @apply bg-gray-300 hover:bg-gray-400;
}